In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv("1. CONTRATOS.csv", sep=";", encoding="utf-8")

df = df.drop(df.columns[0], axis=1)
df = df.drop(columns=["Parcela", "Nr Contrato", "Anexos", "Prestador", "CNPJ", "Cod Datasul", "Nr Pedido"], axis=1)
columns = ["ano", "mes", "data_lancamento", "data_emissao", "data_vencimento", "tipo", "contrato", "referente", "documento", "classificacao", "estabelecimento", "situacao", "status", "valor"]
df.columns = columns
df.head()

,ano,mes,data_lancamento,data_emissao,data_vencimento,tipo,contrato,referente,documento,classificacao,estabelecimento,situacao,status,valor
0,2020,jan,02/01/20,02/01/20,20/01/20,CONTRATO,ALLE TECNOLOGIA,Gestão de ERP Totvs 12,1821,DATASUL,I7 NÚCLEO,ATIVO,LANÇADO,"1.000,00"
1,2020,jan,03/01/20,03/01/20,12/01/20,CONTRATO,VALIDEINFO WEB,Serviços Consulta Web,825,SISTEMAS,I7 NÚCLEO,ATIVO,LANÇADO,"150,00"
2,2020,jan,06/01/20,01/01/20,16/01/20,CONTRATO,OI - TELECOM GERAL - DDR,OI - DDR,7812354,CONECTIVIDADE,EQUIPLEX,INATIVO,LANÇADO,"1.275,13"
3,2020,jan,06/01/20,01/01/20,16/01/20,CONTRATO,OI - TELECOM GERAL - 0800,OI - 0800,7768846,CONECTIVIDADE,EQUIPLEX,ATIVO,LANÇADO,"300,00"
4,2020,jan,06/01/20,06/01/20,15/01/20,CONTRATO,CLARO CELULAR,Celular - Equiplex,12296582,CONECTIVIDADE,EQUIPLEX,ATIVO,LANÇADO,"3.960,22"

In [8]:
df["ano"] = df["ano"].astype(int)

In [9]:
mes_dict = {
    "jan": 1, "fev": 2, "mar": 3, "abr": 4,
    "mai": 5, "jun": 6, "jul": 7, "ago": 8,
    "set": 9, "out": 10, "nov": 11, "dez": 12
}

df["mes"] = df["mes"].map(mes_dict)
df.head()

,ano,mes,data_lancamento,data_emissao,data_vencimento,tipo,contrato,referente,documento,classificacao,estabelecimento,situacao,status,valor
0,2020,1,02/01/20,02/01/20,20/01/20,CONTRATO,ALLE TECNOLOGIA,Gestão de ERP Totvs 12,1821,DATASUL,I7 NÚCLEO,ATIVO,LANÇADO,"1.000,00"
1,2020,1,03/01/20,03/01/20,12/01/20,CONTRATO,VALIDEINFO WEB,Serviços Consulta Web,825,SISTEMAS,I7 NÚCLEO,ATIVO,LANÇADO,"150,00"
2,2020,1,06/01/20,01/01/20,16/01/20,CONTRATO,OI - TELECOM GERAL - DDR,OI - DDR,7812354,CONECTIVIDADE,EQUIPLEX,INATIVO,LANÇADO,"1.275,13"
3,2020,1,06/01/20,01/01/20,16/01/20,CONTRATO,OI - TELECOM GERAL - 0800,OI - 0800,7768846,CONECTIVIDADE,EQUIPLEX,ATIVO,LANÇADO,"300,00"
4,2020,1,06/01/20,06/01/20,15/01/20,CONTRATO,CLARO CELULAR,Celular - Equiplex,12296582,CONECTIVIDADE,EQUIPLEX,ATIVO,LANÇADO,"3.960,22"

In [10]:
date_columns = ["data_lancamento", "data_emissao", "data_vencimento"]

for date_column in date_columns:
    df[date_column] = pd.to_datetime(df[date_column], format="%d/%m/%Y", errors="coerce")
    df[date_column] = df[date_column].where(df[date_column].notna(), None)

In [11]:
df["valor"] = pd.to_numeric(df["valor"].str.replace(".", "").str.replace(",", ".").replace(" - ", np.nan), errors='coerce')

In [12]:
df.to_csv("parcelas.csv", index=False, encoding="utf-8")